@import "tailwindcss";

:root {
  --background: #fff;
  --foreground: #171717;
  --primary: #1b6ff3;
}

@theme inline {
  --color-primary: var(--primary);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer utilities {
  .border-auto {
    @apply border-black/10 dark:border-white/30;
  }
}

.focus-auto,
input,
textarea,
select,
button {
  @apply transition-all ring-offset-1 outline-none focus:ring-2 focus:ring-primary;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  min-height: 100svh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex: 1;
}

#nprogress .bar {
  background: var(--foreground) !important;
}

[data-sonner-toast] {
  /* border-color: #fcfcfc1f !important;
  background-color: var(--foreground) !important; */
  border-radius: 12px !important;
  width: fit-content !important;
  padding: 12px 16px !important;
}

/* 
[data-sonner-toast] button {
  border-color: #fcfcfc1f !important;
  background-color: var(--foreground) !important;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

[data-sonner-toast]:hover button {
  opacity: 1;
} */