@import "tailwindcss";

:root {
  --background: #fff;
  --foreground: #171717;
  --primary: #1b6ff3;
}

@theme inline {
  --color-primary: var(--primary);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer utilities {
  .border-auto {
    @apply border-black/15 dark:border-white/40;
  }
}

input,
textarea,
select,
button {
  @apply transition-all ring-offset-1 focus:ring-2 focus:ring-primary;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  height: 100svh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

main {
  display: flex;
  flex: 1;
}


#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: black !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px black, 0 0 5px black !important;
}

.go3958317564 {
  font-size: 14px !important;
}